.dialog {
  &__form {
    width: 350px;
  }

  &__field {
    width: 100%;
  }

  &__controls {
    display: flex;
  }

  &__btn-close {
    margin: 0 5px 0 auto !important;
  }

  &__label {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 0;
  }
}