.error-item {
  margin-top: 30px;

  &__card {
    position: relative;
    
    &-content {
      margin: 0 !important;
      display: flex !important;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 20px;
  }

  &__date {
    font-style: italic;
  
    &-string {
      font-weight: bold;
    }
  }

  &__performer {
    margin-left: 5px;
  }

  &__controls {
    position: absolute;
    top: -18px;
    right: 50px;
  }

  &__btn {
    transform: scale(0.9);
    
    &:first-child {
      margin-right: 10px;
    }
  }

  &__badge-counter {
    position: absolute;
    display: inline-flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    right: -30px;
    top: -15px;
    background-color: $cinnabar;
    min-width: 55px;
    padding: 5px;
    height: 25px;
    border-radius: 20px;
  }
}