.form {
  display: flex;
  flex-direction: column;

  &__error {
    margin-bottom: 5px;
  
    &:first-child {
      margin-top: 10px;
    }
  }

  &__btn {
    &-submit {
      margin-top: 10px !important;
    }

    &_yellow {
      background-color: $gorse !important;
      color: #fff;
    }
  }


  &__label {
    color: $transparent-color;
    margin: 10px 0;
  }
}