.header {
  width: 100%;
  background-color: $material-primary;
  display: flex;
  align-items: center;

  &:not(.header_fake) {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
                0 6px 10px 0 rgba(0,0,0,.14),
                0 1px 18px 0 rgba(0,0,0,.12);
  }

  &_fake {
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      height: 250px;
      width: 100%;
      background-color: $material-primary;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      display: block;
      height: 64px;
      width: 100%;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
    }
  }

  &_slim {
    height: 64px;
    display: block;
  }

  &__profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;
  }

  &__profile-name {
    display: inline-flex;
    padding: 0 25px;
    margin-right: 10px;
    height: 100%;
    align-items: center;
    border-right: 1px solid $indigo;
  }
}