.project {
  &__settings {
    margin-top: 20px;
  }

  &__participant-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }

  &__participant-item {
    &:not(:last-child)::after {
      content: '/';
      margin: 1px 2px;
    }
  }
}