.settings {
  mat-progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 3px;
  }

  &__password-reset {
    margin-top: 20px;
  }

  &__content {
    max-width: 350px;
    width: 100%;
    margin: 20px;
  }
}