<app-header (toggleSidenav)="toggleSidenav()"></app-header>

<mat-sidenav-container class="app-inner">
  <mat-sidenav #sidenav *ngIf="!!project" class="sidenav" mode="side" [opened]="true">
    <div *ngIf="project?.environments?.length" class="sidenav__environments">
      <p class="form__label text-center">Environments:</p>
      <div class="sidenav__environment-list">
        <a
          *ngFor="let env of project.environments"
          mat-button
          class="sidenav__environment-link"
          [routerLinkActiveOptions]="{exact: true}"
          [routerLinkActive]="'header__link_active'"
          [routerLink]="['/', 'account', 'users']"
        >
        {{env.name | uppercase}}
        </a>
      </div>
    </div>
    <mat-divider></mat-divider>
    <app-env-form *ngIf="isOwnership()" [project]="project"></app-env-form>
    <p *ngIf="!isOwnership() && !project?.environments?.length" class="form__label text-center">Нет даннных</p>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
