<form [formGroup]="form" (ngSubmit)="onSubmit()" class="project-create-dialog__form">
  <mat-form-field class="project-create-dialog__field">
    <input matInput formControlName="name" placeholder="Название проекта">
    <mat-error 
      *ngIf="form.controls.name.touched && form.controls.name.errors?.required"
      class="form__error mat-text-warn">
      Заполните поле
    </mat-error>
    <mat-error 
      *ngIf="form.controls.name.errors?.alreadyExist"
      class="form__error mat-text-warn">
      Nакое название уже занято
    </mat-error>
  </mat-form-field>
  {{invalidName}}
  <div class="project-create-dialog__controls">
    <button mat-raised-button
      color="warn"
      type="button"
      class="project-create-dialog__btn-avoid"
      (click)="close()">
      отмена
    </button>
    <button mat-raised-button
      color="primary"
      type="submit"
      class="project-create-dialog__btn-create"
      [disabled]="isLoading">
      Создать
    </button>
  </div>
</form>