<div class="container container__column">
  <div *ngIf="allProjects?.length || searchString || isLoading; else EmptyProjects" class="project-list__controls">
    <mat-progress-bar class="loader loader_absolute" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <app-search (pushSubstring)="filterProjects($event)" placeholder="Поиск по проектам"></app-search>
    <mat-slide-toggle
      class="project-list__ownership-toggler"
      (change)="toggleOwnershipProjects($event)"
    >
    Показать только мои проекты
    </mat-slide-toggle>
  </div>

  <ng-template #EmptyProjects>
    <div class="headline headline_absolute-center">
      <h1 class="headline__title text-center headline_transparent">Список ваших проектов пуст</h1>
    </div>
  </ng-template>

  <button (click)="showCreateProjectModal()" mat-fab class="project-list__btn-add">
    <mat-icon>add</mat-icon>
  </button>

  <div *ngIf="specialProjects?.length">
    <div class="headline">
      <h1 class="headline__title headline__lines headline_transparent">Избранные</h1>
    </div>
  
    <div class="project-list">
      <a
        *ngFor="let project of specialProjects"
        [routerLink]="[project.id, 'management']"
        class="project-item"
      >
        <app-project-item class="project-item__outer" [special]="true" [project]="project"></app-project-item>
      </a>
    </div>
  </div>

  <div *ngIf="commonProjects?.length">
    <div class="headline">
      <h1 class="headline__title headline__lines headline_transparent">
        {{specialProjects?.length ? "Остальные" : "Все проекты"}}
      </h1>
    </div>

    <div class="project-list">
      <a
        *ngFor="let project of commonProjects"
        [routerLink]="[project.id, 'management']"
        class="project-item"
      >
        <app-project-item class="project-item__outer" [project]="project"></app-project-item>
      </a>
    </div>
  </div>

  <div *ngIf="archivedProjects?.length">
    <div class="headline">
      <h1 class="headline__title headline__lines headline_transparent">Архивированные</h1>
    </div>
  
    <div class="project-list">
      <a
        *ngFor="let project of archivedProjects"
        [routerLink]="[project.id, 'management']"
        class="project-item project-item_archived"
      >
        <app-project-item class="project-item__outer" [project]="project"></app-project-item>
      </a>
    </div>
  </div>
</div>

