<div class="container container__column">
  <div class="project-list__controls">
    <app-search (pushSubstring)="filterProjects($event)" placeholder="Поиск по проектам"></app-search>
    <button (click)="toggleCreateProjectModal()" mat-fab class="project-list__btn-add">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="project-list">
    <a
      *ngFor="let project of projects"
      [routerLink]="[project.id]"
      class="project-list__item">
      <mat-card class="project-list__item-content">
        <mat-card-title class="text-center">{{project.name}}</mat-card-title>
        <mat-card-content>
          <mat-card-subtitle>Участники:</mat-card-subtitle>
          <ul class="project-list__user-list">
            <li *ngFor="let user of project.users" class="project-list__user-item">
              {{user.name}}
            </li>
          </ul>
        </mat-card-content>
      </mat-card>
    </a>
  </div>
</div>

