<mat-card class="project__participant">
  <mat-card-title>Информация</mat-card-title>

  <mat-card-content>
    <ul *ngIf="project.users.length; else WithoutUsers" class="project__participant-list">
      <li *ngFor="let user of project.users" class="project__participant-item">{{user.name || user.email}}</li>
    </ul>

    <ng-template #WithoutUsers>
      <div>
        <mat-label>Только вы участник проекта</mat-label>
      </div>
    </ng-template>

    <p class="form__label">Владелец проекта - {{isOwner ? "вы" : project.ownerLogin}}</p>

    <p class="form__label project__sdk-label">SDK ключ проекта:
      <span class="project__sdk-key">{{project.sdkKey}}</span>
      <button
        (click)="copyToClipboard()"
        [cbContent]="project.sdkKey"
        ngxClipboard
        class="project__sdk-copy-btn"
        color="primary"
        mat-mini-fab>
        <mat-icon>file_copy</mat-icon>
      </button>
    </p>
  </mat-card-content>
</mat-card>