<mat-card class="error-item__card">
  <mat-card-title class="error-item__title">{{error.name}}</mat-card-title>

  <mat-card-content class="error-item__card-content">
    <div>
      <span class="error-item__subtitle">Исполнитель: </span>
      <span class="error-item__performer">{{performer?.name || performer?.email || '-'}}</span>
    </div>

    <div class="error-item__date">
      <span>{{error.counter === 1 ? 'создано' : 'обновлено'}}:</span>
      <span class="error-item__date-string">{{error.counter === 1 ? error.insertedAt : error.updatedAt}}</span>
    </div>
    <div *ngIf="!error.solved" class="error-item__controls">
      <button (click)="showDoneDialog(error.id)" class="error-item__btn" color="primary" mat-mini-fab>
        <mat-icon>done</mat-icon>
      </button>
      <button (click)="showEditDialog()" class="error-item__btn" color="primary" mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <span class="error-item__badge-counter">{{error.counter}}</span>
</mat-card>